
  @font-face {
    font-family: "HankenGrotesk-VariableFont_wght";
    src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  }

  * {
    margin: 0;
    padding: 0;
    font-family: "HankenGrotesk-VariableFont_wght", sans-serif;
    text-align: center;
    font-size: 18px;
}

html, body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bigBox {
    box-shadow: 20px 20px 40px rgba(200, 199, 239, 0.2);
    width: 740px;
    height: 520px;
    border-radius: 30px;
    background-color: white;
}

#bigBoxBlue {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

#bigBoxBlue > *{
    margin: 20px 0;
}

#text{
    width: 260px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 70px;
}

#bigBoxBlue > h1 {
    font-size: 23px;
}

#bigBoxBlue > h3 {
    font-size: 32px;
    color: white;
    margin: 0;

}

#bigBoxBlue > p {
    margin-top: 15px;
}

#circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#circle h2 {
    font-size: 70px;
    font-weight: "ExtraBold";
    color: white;
    margin-bottom: -5px;
}

.enGrisAzulado {
    color: #beabff; 
}

#bigBoxWhite {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}

#bigBoxWhite h2 {
    width: 80%;
    text-align: start;
    font-size: 24px;
    margin-top: 10px;
}


#miniBoxes {
    width: 80%;
    margin-top: 10px;
}

.miniBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin: 20px 0;
    height: 45px;
    border-radius: 10px;
}

.miniBox p{
    font-weight: bold;
}

.enGris {
    color: grey;
}

.button {
    color: #ffffff;
    background-color: #303b59;
    border-radius: 50px;
    width: 80%;
    height: 60px;
    justify-content: center;
}

#Reaction {
    background-color: #fff6f5;
}

#Memory {
    background-color: #fffbf2;
}

#Verbal {
    background-color: #f2fbfa;
}

#Visual {
    background-color: #f3f3fd;
}

#Reaction h3 {
    color: #ff5555;
}

#Memory h3 {
    color: #ffb82d;
}

#Verbal h3 {
    color: #00bb8f;
}

#Visual h3 {
    color: #0f1bbb;
}

.svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/* Estilos para pantallas menores a 768px (móvil) */
@media (max-width: 767px) {
    
    .flex {
        flex-direction: column;
        align-items: center;
    }

    #bigBox {
        width: 100%;
        height: 100%;
    }

    #bigBoxBlue {
        width: 100%;
        height: auto;
        border-radius: 0 0 30px 30px;
    }

    #bigBoxBlue > h1 {
        font-size: 18px;
        margin: 30px 0 0 0;
    }

    #bigBoxBlue h3 {
        font-size: 25px;
        margin: 0;
    }

    #circle {

        width: 140px;
        height: 140px;
    }

    #circle h2 {
        font-size: 60px;
        margin-bottom: 0;
    }

    #text{
        width: 260px;
        height: 30px;
        font-size: 16px;
        margin-bottom: 50px;
        margin-top: 0;
    }

    #bigBoxWhite {
        width: 100%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    #bigBoxWhite h2 {
        width: 85%;
        font-size: 18px;
    }

    #miniBoxes {
        width: 85%;
        margin-top: 0;
    }

    .logoNombre{
        display: flex;
        flex-direction: row; 
    }

    .button {
        margin-top: 0;
        width: 85%;
    }

}
