* {
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    font-size: 18px
}
html, body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: white;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bigBox {
    box-shadow: 20px 20px 40px rgba(200, 199, 239, 0.2);
    width: 720px;
    height: 540px;
    border-radius: 40px;
    background-color: white;
}
#bigBoxBlue {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
#bigBoxBlue > h1{
    font-size: 25px;
}
#bigBoxBlue > *{
    margin: 20px 0;
}
#bigBoxBlue h2{
    color: white;
    font-size: 70px;
}
#bigBoxBlue > h2{
    font-size: 30px;
}
#bigBoxBlue > p{
    margin-top: 0;
}
.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    flex-direction: column;
}
.circle h2{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
#bigBoxWhite {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}
#bigBoxWhite h2{
    width: 80%;
    text-align: start;
    font-size: 25px;
}
#bigBoxWhite p{
    font-weight: 700;
}
#miniBoxes{
    width: 80%;
    margin-top: 20px;
}
.miniBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin: 20px 0;
    height: 40px;
    border-radius: 10px;
}

.enGris{
    color:grey;
}
.enGrisAzulado{
    color:#c8c7ef;
}
.button{
    color: #FFFFFF;
    background-color: #303B59;
    border-radius: 50px;
    width: 80%;
    height: 60px;
    justify-content: center;  
}

#Reaction {
    background-color: #fff6f5;
}
#Memory {
    background-color: #fffbf2;
}
#Verbal {
    background-color: #f2fbfa;
}
#Visual {
    background-color: #f3f3fd;
}
#Reaction h3{
    color: #ff5555;
}
#Memory h3{
    color: #ffb82d;
}
#Verbal h3{
    color: #00bb8f;
}
#Visual h3{
    color: #0f1bbb;
}
.svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


